---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Awais Amjad">
    <h1>About Me</h1>
	<p>
		My name is Awais Amjad. I graduated May 2024 in Design Engineering from QMUL and am I'm currently a graduate software engineer at PA Consulting.
	</p>
	<Image src="/self.webp" alt="Me" width="360" height="620" />
    
</BaseLayout>
