---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<p>
		My name is Awais Amjad. I graduated May 2024 in Design Engineering from
		QMUL and will be joining PA Consulting as a graduate software engineer
		this October.
	</p>
	<p><img src="/self.webp" alt="Picture of Me" width="360" /></p>
</BaseLayout>
