---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Awais Amjad">
	<p>
		My name is Awais Amjad. I graduated May 2024 in Design Engineering from
		QMUL and will be joining PA Consulting as a graduate software engineer
		this October.
	</p>
	<Image src="/self.webp" alt="A bird." width="360" height="620" />
</BaseLayout>
