---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Giscus from "../../components/Giscus.astro";
import { getCollection } from "astro:content";

const { slug } = Astro.params;

const posts = await getCollection("work");
const post = posts.find((p) => p.slug === slug);

if (!post) {
	throw new Error(`Post not found: ${slug}`);
}

const { Content } = await post.render();

export async function getStaticPaths() {
	const posts = await getCollection("work");

	return posts.map((post) => ({
		params: { slug: post.slug }, // 👈 this slug comes from filename
		props: { post }, // pass the post as a prop
	}));
}
---

<BaseLayout title={post.data.title}>
	<article>
		<h1>{post.data.title}</h1>
		<Content />
	</article>
	<Giscus />
</BaseLayout>
