---
import BaseLayout from "../../layouts/BaseLayout.astro";
import WorkCard from "../../components/WorkCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("work");
---

<BaseLayout title="Work">
	<h1>Work</h1>
	<ul>
		{posts.map((post) => <WorkCard work={post} />)}
	</ul>
</BaseLayout>
