---
import "../styles/global.css";
import { SEO } from "astro-seo";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>

		<!-- Todo add meta one dont use SEO component -->
		<meta />
		<SEO
			title="{title}"
			description="{description}"
			openGraph={{
				basic: {
					title: "{title}",
					type: "article",
					image: "/favicon.ico",
				},
			}}
			extend={{
				link: [{ rel: "icon", href: "/favicon.ico" }],
			}}
		/>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-container" aria-label="Main Navigation">
					<div class="nav-links">
						<a href="/" class="nav-link">Home</a>
						<a href="/blog" class="nav-link">Blog</a>
						<a href="/projects" class="nav-link">Projects</a>
						<a href="/work" class="nav-link">Work</a>
					</div>
					<aside class="social-links" aria-label="Social Media">
						<a
							href="https://www.linkedin.com/in/awais-amjad-dev/"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg"
								alt="Linkedin"
								width="24"
								height="24"
							/>
						</a>
						<a
							href="https://codeberg.org/awaisamjad"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/codeberg.svg"
								alt="Codeberg"
								width="24"
								height="24"
							/>
						</a>
						<a
							href="mailto:awais@awais.me"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg"
								alt="Email"
								width="24"
								height="24"
							/>
						</a>
					</aside>
				</div>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<blockquote>
				To do a thing today, and the same tomorrow. Gathering is the
				essence of knowledge<br />Thus one may achieve wisdom. For
				streams are but the gatherings of drops
			</blockquote>
		</footer>
	</body>
</html>
